#root {
  max-width: 100vw;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.hero{
  background-image: url('./assets/images/Colour_Mill_Web_Banner.png');
  background-size: cover; /* Optional: Scale the background image to cover the entire element */
  background-repeat: no-repeat; /* Optional: Prevent the background image from repeating */
  background-position: center center;
 width: 100vw;
  height: 699px;
  /* overflow: hidden; */
  position: relative;
}
.hero-text{
background: white;
width: 466px;
height: 378px;
padding: 40px 50px;
border: 1.5px solid black;
text-align: left;
display: block;
position: absolute;
bottom: 20px;
left: 20px;
}
.hero-text span{
  font-size: 15px;
}
.hero-text h2{
  font-size: 50px;
}
.hero-text p{
  font-size: 20px;
}
/* .hero img{
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/* section */
.subSection1Container{
  background:  #aadb1e66;
  /* border: 1px solid red; */
  

}
.subSection1{
  padding: 45px 25px;
  /* border-bottom: 1px solid black; */
}

.subSection1 h2{
  font-size: 75px;
  letter-spacing: -.03em;
  line-height: 58px;
  text-align: left;
  /* width: 800px; */

}



/* subSection2 */

.subSection2{
  background:  #aadb1e66;
  padding: 45px 25px;
}

/* subSection3 */

.subSection3{
  /* border: 1px solid red; */
  height: 733px;
  position: relative;
  
}
.subSection3 .subSection3headerText{
  /* border: 1px solid red; */
  height: 733px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 30px;
  font-size: 15px;
  letter-spacing: -.03em;
  line-height: 17px;
  font-weight: 700;

}


/* ssubSection5 */
.subSection5{
  padding: 20px;
  border-bottom: 1px solid black;
}
.subSection5Header{
  display: flex;
  align-items:baseline;
  justify-content: space-between;
}
.subSection5Header h2{
  text-align: left;
  font-size: 40px;
  letter-spacing: -.03em;
  font-weight: 500;
}
.subSection5HeaderSocials{
  display: flex;
  gap: 20px;
}

.subSection5HeaderSocials p{
  font-size: 18px;
}
.subSection5HeaderSocialsImage{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.subSection5HeaderSocialsImageItem{
  width: 213px;
  height: 213px;
}
.subSection5HeaderSocialsImageItem img{
  width: 100%;
  height: 100%;
}


.subSection7{
  display: flex;
  justify-content: space-between;
  padding: 30px 20px 40px;
}
.subSection7SignupSec h2{
  font-size: 40px;
  letter-spacing: -.03em;
  line-height: 1;
  font-weight: 500;
}
.subSection7SignupSecInput{
  display: flex;
  align-items: center;
  height: 68px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 30px;
}
.subSection7SignupSecInput input{
  border: none;
  outline: none; /* Remove outline */
  background: none; /* Remove background */
  width: 233px;
  margin-left: 25px;
  font-size: 18px;
}
.subSection7SignupSecInput input::placeholder {
  color: #999; /* Set the placeholder color to gray (#999) */
}
.subSection7ULContainer{
  display: flex;
}
.subSection7UL{
  list-style: none;
  width: 216.66px;
  /* border: 1px solid red; */

}
.subSection7UL > :first-child {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 20px;
}

.color-text{
  /* max-height: 260px; */
  border: 1px solid red;
  font-size: 30px;
  box-sizing: border-box;
  padding: 0 20px;



}
@keyframes colorChange {
  0% { color: red; }
  50% { color: blue; }
  100% { color: green; }
}
.color-text:hover span{
  animation: colorChange 1s infinite;
}
.color-text > span{
  /* letter-spacing: -3rem;
  line-height: -200px; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}